h1 {
	text-align: center;
	font-size: 50px;
}
	
#buttonHolder {
	display: flex;
  	align-items: center;
  	justify-content: center;
}
#img {
	width: 300px;
	
}
#random-img, #random-word{
	display: flex;
  	align-items: center;
  	justify-content: center;

}

body {
	margin-top: 150px;
}

button {
	font-size: 30px;
